<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>汇亚TT现代砖</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable"/>
	    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	    <meta content="telephone=no" name="format-detection"/>
	    <link rel="stylesheet" href="css/reset.css" />
	    <link rel="stylesheet" href="css/swiper-3.4.2.min.css" />
	    <link rel="stylesheet" href="css/index.css?v=2" />
	    <script type="text/javascript" src="js/lufylegend-1.10.1.min.js" ></script>
	    <script type="text/javascript" src="js/swiper-3.4.2.min.js" ></script>
        <script type="text/javascript" src="https://static.runoob.com/assets/vue/1.0.11/vue.min.js"></script>
	    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	    <script type="text/javascript" src="js/scrollReveal.js" ></script>
        <script>
            //判断是否为手机端访问
            var uaTest = /Android|webOS|Windows Phone|iPhone|ucweb|ucbrowser|iPod|BlackBerry/i.test(navigator.userAgent.toLowerCase());
            var touchTest = 'ontouchend' in document;
            if(!uaTest || !touchTest){
                window.location.href = 'http://huiya.hengdikeji.com/api/huiya/index.html';
            }
        </script>
	</head>
	<body id="vueMain">
        <div style="display: none">

        </div>
		<div id="load"></div>
		<div id="content" style="display: none;">
			<!--轮播图-->
			<div id="banner">
				<div class="swiper-container swiper-container-banner">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide" v-for="item in banners">
				            <img src="{{item.thumb}}" />
				        </div>

				    </div>
				    <!-- 如果需要分页器 -->
	    			<div class="swiper-pagination"></div>
	    			<div class="swiper-button-prev" id="prev1"></div>
    				<div class="swiper-button-next" id="next1"></div>
				</div>
			</div>
			<!--年轻-->
			<div id="young">
				<ul>
					<li>
						<div class="yTitle" >
							<p data-scroll-reveal="enter top and move 10px over 1.0s">年轻人的生活砖家</p>
							<img src="img/youngTip.png" data-scroll-reveal="enter top and move 10px over 0.8s wait 0.2s"/>
						</div>
					</li>
					<li>
						<div class="lprt">
							<div class="lpic floatl">
								<img src="img/yp01.png" data-scroll-reveal="enter left and move 20px over 1.0s"/>
							</div>
							<div class="rtext floatl">
								<ul>
									<li>
										<img src="img/yt01.png" data-scroll-reveal="enter right and move 20px over 1.0s wait 0.1s"/>
									</li>
									<li>
										<p data-scroll-reveal="enter right and move 20px over 1.0s wait 0.2s">不仅要高大上</p>
									</li>
									<li>
										<p data-scroll-reveal="enter right and move 20px over 1.0s wait 0.3s">还要个性奔放</p>
									</li>
								</ul>
							</div>
							<div class="clearl"></div>
						</div>
					</li>
					<li>
						<div class="ltrp">						
							<div class="ltext floatl">
								<ul>
									<li>
										<img data-scroll-reveal="enter left and move 20px over 1.0s wait 0.1s" src="img/yt02.png" />
									</li>
									<li>
										<p data-scroll-reveal="enter left and move 20px over 1.0s wait 0.2s">不仅要高大上</p>
									</li>
									<li>
										<p data-scroll-reveal="enter left and move 20px over 1.0s wait 0.3s">还要个性奔放</p>
									</li>
								</ul>
								<div class="clearr"></div>
							</div>
							<div class="rpic floatl">
								<img src="img/yp02.png" data-scroll-reveal="enter right and move 20px over 1.0s" />
							</div>
							<div class="clearl"></div>
						</div>
					</li>
					<li>
						<div class="lprt">
							<div class="lpic floatl">
								<img src="img/yp03.png" data-scroll-reveal="enter left and move 20px over 1.0s"/>
							</div>
							<div class="rtext floatl">
								<ul>
									<li>
										<img src="img/yt03.png" data-scroll-reveal="enter right and move 20px over 1.0s wait 0.1s" />
									</li>
									<li>
										<p data-scroll-reveal="enter right and move 20px over 1.0s wait 0.1s">年轻的心</p>
									</li>
									<li>
										<p data-scroll-reveal="enter right and move 20px over 1.0s wait 0.1s">必须与时俱进</p>
									</li>
								</ul>
							</div>
							<div class="clearl"></div>
						</div>
					</li>
					<li>
						<div class="ltrp">			
							<div class="rpic floatr">
								<img src="img/yp04.png" data-scroll-reveal="enter right and move 20px over 1.0s" />
							</div>
							<div class="ltext floatr">
								<ul>
									<li>
										<img data-scroll-reveal="enter left and move 20px over 1.0s wait 0.1s" src="img/yt04.png" />
									</li>
									<li>
										<p data-scroll-reveal="enter left and move 20px over 1.0s wait 0.2s">我的地盘</p>
									</li>
									<li>
										<p data-scroll-reveal="enter left and move 20px over 1.0s wait 0.3s">必须无可代替</p>
									</li>
								</ul>
							</div>
							<div class="clearr"></div>
						</div>
					</li>
					<li>
						<a href="###" v-on:touchstart="playBox()" class="play hide" data-scroll-reveal="enter bottom and move 20px over 1.2s ">播放视频</a>

					</li>
				</ul>

			</div>
			<!--产品展示-->
			<div id="allPro">
				<div class="allPro">
					<div class="navs">
						<ul>
							<li class="navs-active" v-on:touchstart="replaceBanner('bsys',0)">
								<a href="###" class="floatl">芭莎时代</a>
								<span class="floatl"></span>
								<div class="clearl"></div>
							</li>
							<li>
								<a href="###" class="floatl" v-on:touchstart="replaceBanner('tys',0)">T时代</a>
								<span class="floatl"></span>
								<div class="clearl"></div>
							</li>
							<li>
								<a href="###" class="floatl" v-on:touchstart="replaceBanner('msnh',0)">木色年华</a>
								<span class="floatl"></span>
								<div class="clearl"></div>
							</li>
							<li>
								<a href="###" class="floatl" v-on:touchstart="replaceBanner('xdbw',0)">现代布纹</a>
								<span class="floatl"></span>
								<div class="clearl"></div>
							</li>
							<li>
								<a href="###" class="floatl" v-on:touchstart="replaceBanner('gyyx',0)">工业印象</a>
								<span class="floatl"></span>
								<div class="clearl"></div>
							</li>
						</ul>
						<div class="clearl"></div>
					</div>
				</div>
				<!--<div class="proBanner">
					<div class="swiper-container swiper-container-pro">
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="item in productList.big">
								<img src="{{item.thumb}}" />
							</div>
						</div>
	    				<div class="swiper-pagination"></div>
					</div>
				</div>-->
				<div class="proBanner">
					<div class="swiper-container swiper-container-pro1">
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="item in productList.big">
								<img src="{{item.thumb}}" />
							</div>
						</div>
					</div>
				</div>
				<div class="allPro">
					<div class="type">
						<p data-scroll-reveal="enter left and move 20px over 1.2s ">型号：</p>
					</div>
				</div>
				<!--<div class="navBanner">
					<div class="swiper-container swiper-container-nav">
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="item in productList.small">
								<img src="{{item.thumb}}" />
								<p>{{item.title}}</p>
							</div>

						</div>
					</div>
				</div>-->
				<div class="proBanner">
					<div class="swiper-container swiper-container-pro2">
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="item in productList.small">
								<img src="{{item.thumb}}" />
								<p>{{item.title}}</p>
							</div>
						</div>
						<div class="swiper-button-prev" id="prev"></div>
    					<div class="swiper-button-next" id="next"></div>
					</div>			
				</div>
				<div class="allPro" >
					<div class="type">
						<p data-scroll-reveal="enter left and move 20px over 1.2s ">规格：</p>
					</div>
				</div>
				<div class="types">
					<img src="{{format}}" />
				</div>
			</div>
			<!--芭莎视频-->
			<div id="bsVideo">
				<ul>
					<li>
						<img src="img/bsTitle.png" data-scroll-reveal="enter top and move 20px over 1.2s " />
					</li>
					<li>
						<div class="videoBox">
							<img src="img/bsvideo.jpg"/>
							<div class="videoPlay">
								<img src="img/bigplay.png" />
								<p>播放视频</p>
							</div>
							<video id="videoOne" controls="" preload="perload" playsinline=""  width="1" height="1" type="video/mp4" style="opacity: 1;">
								<source  src="http://ovy8sjkfb.bkt.clouddn.com/video1111.mp4"></source>
							</video>
						</div>
					</li>
				</ul>
			</div>
			<!--芭莎岩石-->
			<div id="basha">
				<div class="topOne">
					<img  src="img/bstiopBkg.png" />
					<div class="topOn">
						<img src="img/bst01.png"  data-scroll-reveal="enter left and move 20px over 1.0s "/>
						<img src="img/bst02.png"  data-scroll-reveal="enter left and move 20px over 1.1s "/>
						<img src="img/bst03.png"  data-scroll-reveal="enter left and move 20px over 1.2s "/>
						<img src="img/bst04.png"  data-scroll-reveal="enter left and move 20px over 1.3s "/>
						<img src="img/bst05.png"  data-scroll-reveal="enter left and move 20px over 1.4s "/>
					</div>
				</div>
				<div class="bottomOne">
					<img  src="img/bsbottomBkg.jpg"/>
					<div class="bottomOn">
						<img src="img/bsp01.png" data-scroll-reveal="enter left and move 20px over 1.6s "/>
						<img src="img/bsp02.png" data-scroll-reveal="enter left and move 20px over 1.4s "/>
						<img src="img/bsp03.png" data-scroll-reveal="enter left and move 20px over 1.2s "/>
						<img src="img/bsp04.png" data-scroll-reveal="enter right and move 20px over 1.2s "/>
						<img src="img/bst06.png" data-scroll-reveal="enter top and move 20px over 1.2s "/>
						<img src="img/bst07.png" data-scroll-reveal="enter top and move 20px over 1.2s "/>
						<img src="img/bst08.png" data-scroll-reveal="enter bottom and move 20px over 1.2s "/>
					</div>
				</div>
			</div>
			<div class="moreknow">
				<a href="###" class="hide" data-scroll-reveal="enter bottom and move 20px over 1.2s ">进一步了解</a>
			</div>
			<!--T时代-->
			<div id="tshidai">
				<div class="topTwo">
					<img src="img/tsdtopBkg.png" />
					<div class="topTwoOn">
						<img src='img/tsdt01.png' data-scroll-reveal="enter right and move 20px over 1.0s "/>
						<img src='img/tsdt02.png' data-scroll-reveal="enter right and move 20px over 1.1s "/>
						<img src='img/tsdt03.png' data-scroll-reveal="enter right and move 20px over 1.2s "/>
						<img src='img/tsdt04.png' data-scroll-reveal="enter right and move 20px over 1.3s "/>
						<img src='img/tsdt05.png' data-scroll-reveal="enter right and move 20px over 1.4s "/>
					</div>
				</div>
				<div class="bottomOne">
					<img  src="img/tsdbottomBkg.jpg"/>
					<div class="bottomOn">
						<img src="img/tsdp01.png" data-scroll-reveal="enter left and move 20px over 1.6s "/>
						<img src="img/tsdp02.png" data-scroll-reveal="enter left and move 20px over 1.4s "/>
						<img src="img/tsdp03.png" data-scroll-reveal="enter left and move 20px over 1.2s "/>
						<img src="img/tsdp04.png" data-scroll-reveal="enter right and move 20px over 1.4s "/>
						<img src="img/tsdt06.png" data-scroll-reveal="enter top and move 20px over 1.2s "/>
						<img src="img/tsdt07.png" data-scroll-reveal="enter top and move 20px over 1.2s "/>
						<img src="img/tsdt08.png" data-scroll-reveal="enter bottom and move 20px over 1.2s "/>
					</div>
				</div>
			</div>
			<div class="moreknow">
				<a href="###" class="hide" data-scroll-reveal="enter bottom and move 20px over 1.2s ">进一步了解</a>
			</div>
			<!--木色年华-->
			<div id="ms">
				<div class="topTwo">
					<img src="img/mstopBkg.png" />
					<div class="topTwoOn">
						<img src='img/mst01.png' data-scroll-reveal="enter right and move 20px over 1.0s "/>
						<img src='img/mst02.png' data-scroll-reveal="enter right and move 20px over 1.1s "/>
						<img src='img/mst03.png' data-scroll-reveal="enter right and move 20px over 1.2s "/>
						<img src='img/mst04.png' data-scroll-reveal="enter right and move 20px over 1.3s "/>
						<img src='img/mst05.png' data-scroll-reveal="enter right and move 20px over 1.4s "/>
					</div>
				</div>
				<div class="bottomOne">
					<img  src="img/msbottomBkg1.jpg"/>
					<div class="bottomOn">
						<img src="img/msp01.png" data-scroll-reveal="enter left and move 20px over 1.6s"/>
						<img src="img/msp02.png" data-scroll-reveal="enter left and move 20px over 1.4s"/>
						<img src="img/msp03.png" data-scroll-reveal="enter left and move 20px over 1.2s"/>
						<img src="img/msp04.png" data-scroll-reveal="enter right and move 20px over 1.4s"/>
						<img src='img/mst06.png' data-scroll-reveal="enter top and move 20px over 1.2s"/>
						<img src='img/mst07.png' data-scroll-reveal="enter top and move 20px over 1.2s"/>
						<img src='img/mst08.png' data-scroll-reveal="enter bottom and move 20px over 1.2s"/>
					</div>
				</div>
			</div>
			<div class="moreknow">
				<a href="###" class="hide" data-scroll-reveal="enter bottom and move 20px over 1.2s">进一步了解</a>
			</div>
			<!--现代印象-->
			<div id="xd">
				<div class="topTwo">
					<img src="img/xdtopBkg.png"/>
					<div class="topTwoOn">
						<img src='img/xdt01.png' data-scroll-reveal="enter right and move 20px over 1.0s "/>
						<img src='img/xdt02.png' data-scroll-reveal="enter right and move 20px over 1.1s "/>
						<img src='img/xdt03.png' data-scroll-reveal="enter right and move 20px over 1.2s "/>
						<img src='img/xdt04.png' data-scroll-reveal="enter right and move 20px over 1.3s "/>
						<img src='img/xdt05.png' data-scroll-reveal="enter right and move 20px over 1.4s "/>
					</div>
				</div>
				<div class="bottomOne">
					<img  src="img/xdbottomBkg.jpg"/>
					<div class="bottomOn">
						<img src="img/xsp01.png" data-scroll-reveal="enter left and move 20px over 1.6s"/>
						<img src="img/xsp02.png" data-scroll-reveal="enter left and move 20px over 1.4s"/>
						<img src="img/xsp03.png" data-scroll-reveal="enter left and move 20px over 1.2s"/>
						<img src="img/xsp04.png" data-scroll-reveal="enter right and move 20px over 1.4s"/>
						<img src='img/xdt06.png' data-scroll-reveal="enter top and move 20px over 1.2s"/>
						<img src='img/xdt07.png' data-scroll-reveal="enter top and move 20px over 1.2s"/>
						<img src='img/xdt08.png' data-scroll-reveal="enter bottom and move 20px over 1.2s"/>
					</div>
				</div>
			</div>
			<div class="moreknow">
				<a href="###" class="hide" data-scroll-reveal="enter bottom and move 20px over 1.2s">进一步了解</a>
			</div>
			<!--工业印象-->
			<div id="gy">
				<div class="topTwo">
					<img  src="img/gytopBkg.png"/>
					<div class="topTwoOn">
						<img src="img/gyt01.png" data-scroll-reveal="enter right and move 20px over 1.0s "/>
						<img src="img/gyt02.png" data-scroll-reveal="enter right and move 20px over 1.1s "/>
						<img src="img/gyt03.png" data-scroll-reveal="enter right and move 20px over 1.2s "/>
						<img src="img/gyt04.png" data-scroll-reveal="enter right and move 20px over 1.3s "/>
						<img src="img/gyt05.png" data-scroll-reveal="enter right and move 20px over 1.4s "/>
					</div>
				</div>
				<div class="bottomOne">
					<img  src="img/gybottomBkg.jpg"/>
					<div class="bottomOn">
						<img src="img/bsp01.png" data-scroll-reveal="enter left and move 20px over 1.6s"/>
						<img src="img/bsp02.png" data-scroll-reveal="enter left and move 20px over 1.4s"/>
						<img src="img/bsp03.png" data-scroll-reveal="enter left and move 20px over 1.2s"/>
						<img src="img/bsp04.png" data-scroll-reveal="enter right and move 20px over 1.4s"/>
						<img src="img/bst06.png" data-scroll-reveal="enter top and move 20px over 1.2s"/>
						<img src="img/bst07.png" data-scroll-reveal="enter top and move 20px over 1.2s"/>
						<img src="img/gyt08.png" data-scroll-reveal="enter bottom and move 20px over 1.2s"/>
					</div>
				</div>
			</div>
			<div class="moreknow">
				<a href="###" class="hide" data-scroll-reveal="enter bottom and move 20px over 1.2s">进一步了解</a>
			</div>
			<div id="bottom">
				<img src="img/bottomBkg.jpg" />
				<div class="bottom">
					<img src="img/bottompl.png" data-scroll-reveal="enter left and move 20px over 0.8s " />
					<img src="img/bottompr.png" data-scroll-reveal="enter right and move 20px over 0.8s "/>				
					<img src="img/bottomtr.png" data-scroll-reveal="enter right and move 20px over 1.5s "/>
					<img src="img/bottomtl.png" data-scroll-reveal="enter left and move 20px over 1.5s "/>
				</div>
			</div>
			<div id="ad">
				<a href="http://huiya.hengdikeji.com/api/mobile/index.html"><img src="img/ad.jpg" /></a>
				<div id="hand">
					<img src="img/hand.png" />
				</div>
			</div>
		</div>
		<div id="popWindow"></div>
        <div class="videBox">
            <div class="video2">
                <video id="video2" controls="" poster="img/bsvideo.jpg" preload="perload" playsinline=""  width="1" height="1" type="video/mp4" style="opacity: 1;">
                    <source  src="http://ovy8sjkfb.bkt.clouddn.com/video1111.mp4"></source>
                </video>
                <img v-on:touchstart="close()" src="img/close.png" alt="" style="width: 30px;margin-top: 20px">
            </div>
        </div>
        <div style="display: none;">
            <script src="https://s22.cnzz.com/z_stat.php?id=1264538472&web_id=1264538472" language="JavaScript"></script>
        </div>
		<script type="text/javascript" src="js/index.js" ></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script>
			//px转rem
			(function(doc, win) {
	            var docEl = doc.documentElement,
	                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
	                recalc = function() {
	                    var clientWidth = docEl.clientWidth;
	                    if (!clientWidth) return;
	                    if (clientWidth >= 640) {
	                        docEl.style.fontSize = '20px';
	                    } else {
	                        docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
	                    }
	                };
	
	            if (!doc.addEventListener) return;
	            win.addEventListener(resizeEvt, recalc, false);
	            doc.addEventListener('DOMContentLoaded', recalc, false);
	        })(document, window);
	        //开启特效
	        (function(){
				window.scrollReveal = new scrollReveal({ reset: true, move: '50px'});
			})();
	        $(function(){
	            var w_h=$(window).height();
	            $('.video2').css({"height":w_h+'px'});
            })
		</script>
	</body>
</html>
